img {
    width: 1rem;
    height: 60px;
    margin-left: 10px;
}

.card {
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.card-title {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    a {
        display: none;
    }

    .card-body {
        padding: 0.5em 1.2em;
    }

    .card-body .card-text {
        margin: 0;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}